.range-field {
    margin-bottom: 0;
}

.section .value {
    color: initial;
}

.hidden {
    display: none;
}

.switch-label {
    margin-bottom: 10px;
    display: block;
}

.offset-right-m1 {
    margin-right: 8.3333333333%;
}
